.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.verify-modal {
  z-index: 11;
  width: 500px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

}

header span {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #373737;
}

header mat-icon {
  margin-left: auto;
  cursor: pointer;
  font-weight: bold;
}

.active {
  display: flex;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons-wrapper button {
  font-weight: 600;
  border: none;
  padding: 8px 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.save-btn {
  margin-left: 20px;
  background-color: green;
}

.cancel-btn {
  background-color: red;
}