<div class="container">
  <p class="title">Development of a mobile application for planning and managing study schedules</p>
  <p class="description">The app will provide features such as creating a study plan, setting goals, scheduling study sessions, reminders, progress tracking, and potentially integrating with other educational resources</p>
  <p class="date">Deadline: <span>5.06.2023 23:59:59</span></p>
  <hr>
  <div class="wrapper">
    <h2>Process of Graduation Work Performing</h2>
    <table>
        <tr>
          <td>Order</td>
          <td>Phase</td>
          <td>Content</td>
          <td>Done</td>
          <td>Modified Date</td>
          <td>Comment</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Introduction</td>
          <td>
            <ul>
              <li>
                <div class="file">
                  <mat-icon>attach_file</mat-icon>
                  <a href="http://localhost:1707/files/GW.docx">intro.docs</a>
                </div>
              </li>
              <li>
                <div class="file">
                  <mat-icon>attach_file</mat-icon>
                  <a href="http://localhost:1707/files/GW.docx">intro.docs</a>
                </div>
              </li>
              <li>
                <div class="file">
                  <mat-icon>attach_file</mat-icon>
                  <a href="http://localhost:1707/files/GW.docx">intro.docs</a>
                </div>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>85%</li>
              <li>85%</li>
              <li>85%</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>31.05.2023 14:04:24</li>
              <li>31.05.2023 14:04:24</li>
              <li>31.05.2023 14:04:24</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>There is some missings</li>
              <li>There is some missings</li>
              <li>There is some missings</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <button>DECLINED</button>
              </li>
              <li>
                <button>DECLINED</button>
              </li>
              <li>
                <button>DECLINED</button>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Introduction</td>
          <td>
            <ul>
              <li>
                <div class="file">
                  <mat-icon>attach_file</mat-icon>
                  <a href="http://localhost:1707/files/GW.docx">intro.docs</a>
                </div>
              </li>
              <li>
                <div class="file">
                  <mat-icon>attach_file</mat-icon>
                  <a href="http://localhost:1707/files/GW.docx">intro.docs</a>
                </div>
              </li>
              <li>
                <div class="file">
                  <mat-icon>attach_file</mat-icon>
                  <a href="http://localhost:1707/files/GW.docx">intro.docs</a>
                </div>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>85%</li>
              <li>85%</li>
              <li>85%</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>31.05.2023 14:04:24</li>
              <li>31.05.2023 14:04:24</li>
              <li>31.05.2023 14:04:24</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>There is some missings</li>
              <li>There is some missings</li>
              <li>There is some missings</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <button>DECLINED</button>
              </li>
              <li>
                <button>DECLINED</button>
              </li>
              <li>
                <button>DECLINED</button>
              </li>
            </ul>
          </td>
        </tr>
    </table>
  </div>
</div>
