<div class="container">
  <p class="title">{{title}}</p>
  <p class="description">{{description}}</p>
  <hr>
  <div class="wrapper">
    <h2>Process of Graduation Work Performing</h2>
    <table>
        <tr>
          <td>Order</td>
          <td>Phase</td>
          <td>Content</td>
          <td>Done</td>
          <td>Modified Date</td>
          <td>Comment</td>
          <td>Status</td>
        </tr>
        <tr *ngFor="let performing of performingList; let i = index">
          <td>{{i + 1}}</td>
          <td>{{performing.title}}</td>
          <td>
            <ul>
              <li *ngFor="let detail of performing.details" [class.has]="detail.link">
                <div class="file">
                  <mat-icon *ngIf="detail.link">attach_file</mat-icon>
                  <a *ngIf="detail.link" [href]="detail.link">{{detail.filename}}</a>
                </div>
              </li>
            </ul>
            <input *ngIf="!checkAcceptedStatus(performing.details) && isStudent" type="file" (change)="handleFileInput($event)" accept=".pdf, .docx" [multiple]="false">
          </td>
          <td>
            <ul>
              <li *ngFor="let detail of performing.details" [class.has]="detail.link">
                <span *ngIf="detail.done">{{detail.done}}%</span>
                <form *ngIf="!detail.status && isTeacher && detail.link" [formGroup]="form">
                  <input type="number" formControlName="done">
                </form>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let detail of performing.details" [class.has]="detail.link">
                <span *ngIf="detail.created_date">{{detail.created_date}}</span>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let detail of performing.details" [class.has]="detail.link">
                <span *ngIf="detail.comment">{{detail.comment}}</span>
                <form *ngIf="!detail.status && isTeacher && detail.link" [formGroup]="form">
                  <input type="text" formControlName="comment">
                </form>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let detail of performing.details" [class.has]="detail.link">
                <button class="btn requested" *ngIf="detail.link && isStudent && !detail.status">REQUESTED</button>
                <button class="btn" *ngIf="detail.link && detail.status" [class.declined]="detail.status === 'declined'" [class.accepted]="detail.status === 'accepted'">{{detail.status.toUpperCase()}}</button>
                <div class="buttons-wrapper" *ngIf="!detail.status && isTeacher && detail.link" >
                  <form [formGroup]="form" (ngSubmit)="recieve('accepted', detail.id)">
                    <button class="btn accepted" type="submit">ACCEPT</button>
                  </form>
                  <button class="btn declined" (click)="recieve('declined', detail.id)">DECLINE</button>
                </div>
              </li>
            </ul>
            <button class="btn send" *ngIf="!checkAcceptedStatus(performing.details) && isStudent" (click)="sendRequest(performing.id)">SEND</button>
          </td>
        </tr>
        <tr>
          <td>total</td>
          <td></td>
          <td></td>
          <td class="high">{{average}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </table>
  </div>
</div>
