<div class="container">
  <p class="timer">Left: <span>1 day 23 hour 54 minutes 12 seconds</span></p>
  <p class="title">Development of a mobile application for planning and managing study schedules</p>
  <p class="description">The app will provide features such as creating a study plan, setting goals, scheduling study sessions, reminders, progress tracking, and potentially integrating with other educational resources</p>
  <p class="date">The date of submitting the graduation work: <span>5.06.2023 23:59:59</span></p>
  <hr>
  <div class="wrapper">
    <div class="left">
      <ul>
        <li>
          <p></p>

        </li>
      </ul>
    </div>
    <div class="right">
      <p>Demo site Link <mat-icon>arrow_forward</mat-icon> <a href="./">GW-SHARE</a></p>
      <img src="./../../assets/1.png" alt="diploma" width="1000px">
    </div>
  </div>
  <div class="trello">
  </div>
</div>
