<div class="container">
  <header>
    <select (change)="filterThemes($event.target)">
      <option 
        *ngFor="let status of statuses" 
        [value]="status.id" 
        [selected]="status === statuses[0]"
      >{{status.status}}</option>
    </select>
    <mat-icon class="donwload" title="download excel version of graduation works">cloud_download</mat-icon>
  </header>
  <hr>
  <div class="wrapper">
    <ul>
      <li *ngFor="let theme of themes">
        <mat-icon class="school">school</mat-icon>
        <p class="title">{{theme.title}}</p>
        <p class="description">{{theme.description}}</p>
        <p class="created_at">{{theme.createdAt}}</p>
        <div class="box">
          <span class="eye">advisor</span>
          <span class="name">{{theme.advisorFullName}}</span>
          <img src="./../../assets/avatar.png" alt="profile">
        </div>
        <div class="box" *ngIf="theme.studentFullName">
          <span class="eye">student</span>
          <span class="name">{{theme.studentFullName}}</span>
          <img [src]="user.avatar || defaultURL" alt="profile">
        </div>
        <p class="not-attached" *ngIf="!theme.studentFullName">No attached user</p>
        <button 
         class="btn"
         [title]="isStudent && theme.status === 'not-selected' ? 'select this theme' : ''"
         [disabled]="['initialized', 'pending', 'accepted', 'declined'].includes(theme.status) || isTeacher"
         [class.select]="theme.status === 'not-selected' && isStudent"
         [class.not-selected]="theme.status === 'not-selected' && isTeacher"
         [class.initialized]="theme.status === 'initialized'"
         [class.pending]="theme.status === 'pending'"
         [class.accepted]="theme.status === 'accepted'"
         [class.declined]="theme.status === 'declined'"
         (click)="selectGW(theme.processId)"
        >{{isStudent && theme.status === 'not-selected' ? 'select' : theme.status}}</button>
      </li>
    </ul>
  </div>
</div>