<div class="container">
  <header>
    <button 
      (click)="openAddThemeModal()"
      [disabled]="themes.length >= user.capacity"
      [class.disabled]="themes.length >= user.capacity"
    >
      <mat-icon>add_box</mat-icon> 
    </button>
  </header>
  <body>
    <ul *ngIf="isTeacher" class="my-list">
      <li *ngFor="let theme of themes">
        <div class="icon-wrapper">
          <mat-icon class="edit">edit</mat-icon>
          <mat-icon class="delete" (click)="deleteTheme(theme.id)">delete</mat-icon>
        </div>
        <p class="title">{{theme.title}}</p>
        <p class="description">{{theme.description}}</p>
        <p class="created-at">{{theme.createdAt}}</p>
        <div class="progress-bar-container">
          <div 
            class="progress-indicator" 
            [class.done]="state === 'done'"
            *ngFor="let state of progressStatus[theme.status]; let i = index"
          >
            <span class="circle" [class.number]="state === 'not-done'" [class.declined]="theme.status === 'declined' && i === 3">
              <mat-icon *ngIf="state === 'done'">{{theme.status === 'declined' && i === 3 ? 'close' : 'check'}}</mat-icon>
              <span *ngIf="state === 'next'" class="dot"></span>
              <span *ngIf="state === 'not-done'" class="number">{{i + 1}}</span>
            </span>
            <span [class.current]="state === 'next'" class="label">{{theme.status === 'declined' && i === 3 ? labels[4] : labels[i]}}</span>
          </div>
        </div>
        <div class="wrapper">
          <div class="profile-part" *ngIf="theme.studentFullName">
            <img src="./../../assets/avatar.png" alt="avatar">
            <span>{{theme.studentFullName}}</span>
          </div>
          <button *ngIf="theme.status === 'pending'" class="btn accept" (click)="pending(theme.processId, 'accepted')">accept</button>
          <button *ngIf="theme.status === 'pending'" class="btn decline" (click)="pending(theme.processId, 'declined')">decline</button>
          <button *ngIf="theme.status === 'accepted'" class="btn process" (click)="process()">process</button>
        </div>
        <div class="upper" [class.initialized]="theme.status === 'initialized'" (click)="pending(theme.processId, 'pending')"></div>
      </li>
    </ul>
    <div *ngIf="isTeacher" class="right-box">
      <p>You can choose 4 students for being advisor and your own graduation themes can not be higher from this number with suggested graduation theme by students</p>
      <hr>
      <p class="warning-label">The number of themes: <span>{{themes.length}}</span></p>
    </div>
  </body>
</div>
<app-add-theme></app-add-theme>