.container {
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.07px;
}

.functions-part {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-icon {
  color: green;
  font-weight: bold;
  font-size: 22px;
  margin-left: auto;
  margin-left: auto;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  border-bottom: 2px solid #000;
}

tr:first-child {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.04px;
}

tr:first-child fa-icon {
  font-size: 22px;
}

.calendar {
  color: #237892;
  margin-right: 5px;
}

.avatar {
  color: #030c1f;
}

tr td {
  padding: 5px;
}

td {
  border-top: 2px solid #000;
}

tr:not(:first-child) td {
  font-size: 17px;
  font-weight: 500;
  color: rgba(14, 16, 37, 0.76);
}

tr:not(:first-child) td:last-child div {
  font-size: 22px;
  display: flex;
  align-items: center;
}
 
.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper img {
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 50%;
}

.edit-icon {
  color:blue;
  cursor: pointer;
}

.delete-icon {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}