<div class="container">
  <p class="title">All Users List</p>
  <div class="functions-part">
    <fa-icon [icon]="addIcon" class="add-icon" title="add user" (click)="openAddUserModal()"></fa-icon>
  </div>
  <table>
    <tr>
      <td>
        <div class="img-wrapper">
          <fa-icon [icon]="avatarIcon" class="avatar"></fa-icon>
        </div>
      </td>
      <td>username</td>
      <td>fullName</td>
      <td>status</td>
      <td>position</td>
      <td>gpa</td>
      <td>faculty</td>
      <td>capacity</td>
      <td></td>
    </tr>
    <tr *ngFor="let user of users">
      <td>
        <div class="img-wrapper">
          <img [src]="user.avatar || defaultURL" width="40px" alt="avatar">
        </div>
      </td>
      <td>{{user.username}}</td>
      <td>{{user.fullName}}</td>
      <td>{{user.role}}</td>
      <td>{{user.position}}</td>
      <td>{{user.gpa}}</td>
      <td>{{user.faculty}}</td>
      <td>{{user.capacity}}</td>
      <td>
        <div>
          <button class="btn edit-btn">
            <fa-icon [icon]="userEditIcon"></fa-icon>
          </button>
          <button class="btn delete-btn">
            <fa-icon [icon]="userDeleteIcon" (click)="deleteUser(user.id)"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
<app-add-user></app-add-user>